/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
}
   */
div {
    background-color: white;
    border: 3px solid var(--mainColor, black);
    padding: var(--mainPadding, 10px);
    color: var(--mainColor, red);
    width: 400px;
    margin: 10px auto;
}